upstream upstream_img_resizers {
    server unix:/var/run/uwsgi/nest-api00.sock;
    server unix:/var/run/uwsgi/nest-api01.sock;
    server unix:/var/run/uwsgi/nest-api02.sock;
    server unix:/var/run/uwsgi/nest-api03.sock;
}
server {
    server_name tools.falconsocial.com;
    listen 443 ssl;

    access_log /var/log/nginx/tools.falconsocial.com-access.log;
    error_log /var/log/nginx/tools.falconsocial.com-error.log;

    location /img-resizer/ {
        include uwsgi_params;
        uwsgi_pass upstream_img_resizers;
    }
}
