upstream upstream_img_resizers {
    server 127.0.0.1:5000;
    server 127.0.0.1:8001 down;
    server 127.0.0.1:8002 down;
    server 127.0.0.1:8003 down;
}
server {
    server_name tools.falconsocial.com;
    listen 443 ssl;

    access_log /var/log/nginx/tools.falconsocial.com-access.log;
    error_log /var/log/nginx/tools.falconsocial.com-error.log;

    location /img-resizer/ {
        proxy_pass http://upstream_img_resizers/;
    }
}
